.header{
    width: 100%;
    display:flex;
    cursor: pointer;
    position: fixed;
    justify-content: center;
    text-transform: uppercase;
    background-color: #03203C;
    font-size: 5vw;
    padding-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    box-shadow: 8px 5px 16px 0 rgba(0,0,0,.37);
    color: white;
    z-index: 100;
    font-weight:900;
}

@media (max-width:1000px){
    .header{
        padding-top: 15px;
        font-size: 6.4vw;
    }
}